<div class="group column">
  <h3 class="h3">Devices</h3>
  <igx-card type="outlined" class="card">
    <igx-card-header>
      <h3 igxCardHeaderTitle>SCRAM</h3>
      <h5 igxCardHeaderSubtitle> </h5>
    </igx-card-header>
    <igx-card-content class="body-content">
      <p class="igx-typography__body-1 text_1">added XX/XX/XX</p>
    </igx-card-content>
    <igx-card-actions class="actions-content">
      <button igxButton="outlined" igxRipple routerLink="/details" class="button_1">
        <igx-icon>input</igx-icon>
        <span>Details -&gt;</span>
      </button>
    </igx-card-actions>
  </igx-card>
  <igx-card type="outlined" class="card">
    <igx-card-header>
      <h3 igxCardHeaderTitle>SCRAM X</h3>
      <h5 igxCardHeaderSubtitle> </h5>
    </igx-card-header>
    <igx-card-content class="body-content">
      <p class="igx-typography__body-1 text_1">added XX/XX/XX</p>
    </igx-card-content>
    <igx-card-actions class="actions-content">
      <button igxButton="outlined" igxRipple routerLink="/details" class="button_1">
        <igx-icon>input</igx-icon>
        <span>Details -&gt;</span>
      </button>
    </igx-card-actions>
  </igx-card>
  <p class="igx-typography__body-1 text">___________________________________________</p>
  <button igxButton="outlined" igxRipple routerLink="/searching" class="button">Link a Device</button>
</div>
