<div class="group column">
  <h2 class="h2">About Us</h2>
  <p class="igx-typography__caption text">Wipsy aims to develop an alcohol tracking application via Bluetooth. Our niche appeals to those seeking to moderate their drinking habits.More than 10,000 Americans are killed every year as a result of drunk drivers.
Irresponsibly participating in social drinking often results in making poor decisions. These mistakes can negatively affect an individual’s academics, health, and social life. It can even cost someone their life. 
This wearable technology uses a non-invasive SCRAM-like device that monitors your alcohol level and reports it back to the user via a mobile application. It will message the consumer’s phone to inform them if they are too drunk to drive and even order an uber for them. The user can even customize when the application will tell them to stop drinking preventing accidental over drinking.
No more do you need to worry about how much you’ve drank at an social setting. Wipsy will be your designated sober friend. 
</p>
  <igx-card type="outlined" class="card">
    <igx-card-header>
      <div igxCardThumbnail>
        <igx-avatar icon="phone_iphone" [roundShape]="true" size="small" class="avatar"></igx-avatar>
      </div>
      <h3 igxCardHeaderTitle>(xxx)-xxx-xxxx</h3>
      <h5 igxCardHeaderSubtitle> </h5>
    </igx-card-header>
  </igx-card>
  <igx-card type="outlined" class="card">
    <igx-card-header>
      <div igxCardThumbnail>
        <igx-avatar icon="email" [roundShape]="true" size="small" class="avatar"></igx-avatar>
      </div>
      <h3 igxCardHeaderTitle>xxxxx@xxxxxx.com</h3>
      <h5 igxCardHeaderSubtitle> </h5>
    </igx-card-header>
  </igx-card>
</div>
