<div class="group column">
  <h5 class="h5">Emergency Contacts</h5>
  <igx-card type="outlined" class="card">
    <igx-card-header>
      <div igxCardThumbnail>
        <igx-avatar src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar3.png" [roundShape]="true" size="large" class="avatar"></igx-avatar>
      </div>
      <h3 igxCardHeaderTitle>John Doe</h3>
      <h5 igxCardHeaderSubtitle>__________________________</h5>
    </igx-card-header>
    <igx-card-content class="body-content">
      <p class="igx-typography__body-1 text">Phone #.......................................(xxx)-xxx-xxxx     Email ...................................xxxxxx@xxxxx.com</p>
    </igx-card-content>
  </igx-card>
  <igx-card type="outlined" class="card">
    <igx-card-header>
      <div igxCardThumbnail>
        <igx-avatar src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar2.png" [roundShape]="true" size="large" class="avatar"></igx-avatar>
      </div>
      <h3 igxCardHeaderTitle>Josh Doe</h3>
      <h5 igxCardHeaderSubtitle>__________________________</h5>
    </igx-card-header>
    <igx-card-content class="body-content">
      <p class="igx-typography__body-1 text">Phone #.......................................(xxx)-xxx-xxxx        Email ...................................xxxxxx@xxxxx.com</p>
    </igx-card-content>
  </igx-card>
</div>
