<div class="group column">
  <igx-card type="outlined" class="card">
    <igx-card-header>
      <div igxCardThumbnail>
        <igx-avatar src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar6.png" [roundShape]="true" size="large" class="avatar"></igx-avatar>
      </div>
      <h3 igxCardHeaderTitle>JANE DOE</h3>
      <h5 igxCardHeaderSubtitle>__________________________</h5>
    </igx-card-header>
    <igx-card-content class="body-content">
      <p class="igx-typography__body-1 text">Age...................................................XX</p>
      <p class="igx-typography__body-1 text">Height.............................................XX</p>
      <p class="igx-typography__body-1 text">Weight...........................................XX</p>
    </igx-card-content>
  </igx-card>
  <button igxButton="raised" igxRipple routerLink="/emergency-contact" class="button">Emergency Contact</button>
  <button igxButton="raised" igxRipple routerLink="/about-us" class="button">About Us</button>
</div>
