<div class="group column">
  <igx-card type="outlined" class="card">
    <igx-card-header>
      <h3 igxCardHeaderTitle>SCRAM X</h3>
      <h5 igxCardHeaderSubtitle>------------------------------------------------------                                      model xxxxxxxxxx</h5>
    </igx-card-header>
    <igx-card-content class="body-content">
      <p class="igx-typography__body-1 text">Battery.........................................% Activated...................xx/xx/xx</p>
    </igx-card-content>
  </igx-card>
</div>
