<div class="group column">
  <h2 class="h2">Settings</h2>
  <igx-input-group type="border" class="input">
    <input type="text" value="" placeholder="Search....." [required]="false" igxInput />
    <label igxLabel>Search.....</label>
  </igx-input-group>
  <button igxButton="outlined" igxRipple class="button">Account   -&gt;</button>
  <p class="igx-typography__caption text">-----------------------------------------------------</p>
  <button igxButton="outlined" igxRipple class="button">Notifications -&gt;</button>
  <p class="igx-typography__caption text">-----------------------------------------------------</p>
  <button igxButton="outlined" igxRipple class="button">Privacy &amp; Security</button>
  <p class="igx-typography__caption text">-----------------------------------------------------</p>
  <button igxButton="outlined" igxRipple routerLink="/about-us" class="button">About Us</button>
  <p class="igx-typography__caption text">-----------------------------------------------------</p>
</div>
